@rendermode InteractiveServer

@if (Visible)
{
    <div class="modal-backdrop fade show"></div>
    <div class="modal d-block" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content p-4 bg-white text-dark rounded">
                <div class="modal-header border-0">
                    <h5 class="modal-title fw-bold">Agenda tu Cita</h5>
                    <button type="button" class="btn-close" @onclick="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@cita" OnValidSubmit="EnviarFormulario">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="mb-3">
                            <label class="form-label">Nombre completo</label>
                            <InputText class="form-control" @bind-Value="cita.Nombre" />
                            <ValidationMessage For="@(() => cita.Nombre)" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Correo electrónico</label>
                            <InputText type="email" class="form-control" @bind-Value="cita.Correo" />
                            <ValidationMessage For="@(() => cita.Correo)" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Teléfono</label>
                            <InputText class="form-control" @bind-Value="cita.Telefono" />
                            <ValidationMessage For="@(() => cita.Telefono)" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Barberos</label>
                            <InputSelect class="form-select" @bind-Value="cita.BarberoID">
                                <option value="">Seleccione un servicio</option>
                                @foreach(var barbero in listBarberos)
                                {
                                    <option value="@barbero.barberoId">@barbero.nombre</option>
                                }

                            </InputSelect>
                            <ValidationMessage For="@(() => cita.BarberoID)" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Servicio</label>
                            <InputSelect class="form-select" @bind-Value="cita.ServicioId" TValue="int">
                                <option value="">Seleccione un servicio</option>
                                @foreach (var servicio in listServicios)
                                {
                                    <option value="@servicio.ServicioId">@servicio.Nombre</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => cita.ServicioId)" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Fecha</label>
                            <InputDate TValue="DateTime"
                                       class="form-control"
                                       Value="cita.Fecha"
                                       ValueChanged="@(async (DateTime nuevaFecha) => await OnFechaChanged(nuevaFecha))"
                                       ValueExpression="@(() => cita.Fecha)" />


                            <ValidationMessage For="@(() => cita.Fecha)" />
                        </div>

                        <div class="mb-4">
                            <label class="form-label">Hora</label>
                            <InputSelect class="form-select" @bind-Value="horaStr">
                                <option value="">Seleccione una hora</option>
                                @foreach (var hora in listHorarioDisponible)
                                {
                                    <option value="@hora.HoraDesde.ToString(@"hh\:mm")">@hora.HoraDesde.ToString(@"hh\:mm")</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="mb-3">
                            <div id="recaptcha-container"></div>
                        </div>

                        <button type="submit" class="btn btn-dark px-4 py-2 fw-semibold" disabled="@(!captchaValidado)">Reservar Cita</button>

                        @if (mostrarModalExito)
                        {
                            <div class="modal-backdrop fade show"></div>
                            <div class="modal d-block" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content bg-white text-dark p-4 rounded shadow">
                                        <div class="modal-header border-0">
                                            <h5 class="modal-title fw-bold">¡Reserva exitosa!</h5>
                                        </div>
                                        <div class="modal-body text-center">
                                            <p class="mb-0">Tu cita ha sido registrada con éxito. ¡Te esperamos!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}